body{
    font-family: "Arial", sans-serif;
    font-size: x-large;
    color: #ffffff;
    text-align: left;
    margin: 0;
}

body {
    background: linear-gradient(229deg, #000000, #002a3a) no-repeat fixed;
    background-size: 400% 400%;

    -webkit-animation: backgroundGradientAnim 45s ease infinite;
    -moz-animation: backgroundGradientAnim 45s ease infinite;
    animation: backgroundGradientAnim 45s ease infinite;
}
@-webkit-keyframes backgroundGradientAnim {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-moz-keyframes backgroundGradientAnim {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes backgroundGradientAnim {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

.header{
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color: black;
}

.elements{
    padding: 20px;
    line-height: 50px;
}

.rounded{
    border-radius: 5px;
}

.wider{
    width: 50%;
}

.narrower{
    width: 5%;
}

.boxed{
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 5px;
}

button{
    transition: all 0.2s ease;
    font-size: xx-large;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-right: 15px;
}
button:active{
    color: #8d8d8d;
    border-color: #8d8d8d;
    border-radius: 12px;
}
button:hover{
    scale: 110%;
}

.fade {
    opacity: 1;
}
.fade.hidden {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

details {
    padding: 10px;
}

details summary {
    cursor: pointer;
    transition: margin 150ms ease-out;
}

details[open] summary {
    margin-bottom: 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.positive {
    color: greenyellow;
}
.warning {
    color: orange;
}
.error {
    color: red;
}
